In [19]:
import pandas as pd
import datetime

In [89]:
class SOT(object):
    def __init__(self, sot_file):
        self.sot_file = pd.DataFrame.from_csv(sot_file)
        
    def save_csv(self):
        print(datetime.datetime.now().strftime("%Y-%m-%d-%H:%M"))
    
    def update_budget(self, budget_records):
        return budget_records

    def update_bank(self, bank_records):
        self.sot_file += bank_records
        self.bank_first = bank_records + 'xxx'

In [90]:
sot = SOT('first_SOT.csv')

In [91]:
sot.sot_file

,Date,Type,Description,Value,Balance,Account Name,Account Number,Date.1,Category,SubCategory,Expense Amount,Account,Payee,Notes
0,2015-08-20,D/D,'LBTH COUNCIL TAX,-98.00,1009.03,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-08-21,POS,"'9285 18AUG15 , DELIVEROO.CO.UK , 02033223444 GB",-27.00,982.03,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-08-21,C/L,'NATWEST 20AUG,-20.00,962.03,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-08-24,POS,"'9285 21AUG15 , AMAZON DIGITAL , DWNLDS , 866-...",-1.99,960.04,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-08-24,POS,"'9285 23AUG15 , DELIVERANCE , LIMITED , LONDON GB",-17.20,942.84,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-08-26,POS,"'9285 25AUG15 , UDACITY, INC. , 8778877815 US ...",-130.69,812.15,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-08-26,POS,"'9285 25AUG15 , MONSTER SUPPLEMENT, HULL GB",-63.32,748.83,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2015-08-26,D/D,'PNET2674351-1,-18.45,730.38,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015-08-27,BAC,"'CONTRACTOR UMBRELL, CONTRACTOR UMBRELL, FP 27...",626.39,1356.77,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2015-08-27,POS,"'9285 26AUG15 , DELIVERANCE , LIMITED , LONDON GB",-23.00,1333.77,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2015-08-28,POS,"'9285 27AUG15 C , ITSU LTD , LNDN EC2A 010 GB",-8.28,1325.49,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2015-08-28,D/D,'HALIFAX,-8.18,1317.31,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2015-09-01,POS,"'9285 28AUG15 C , BOOTS 1137 , GATWICK AIRPO GB",-7.75,1309.56,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2015-09-01,POS,"'9285 28AUG15 C , BOOTS 2000 , GATWICK AIRPO GB",-3.38,1306.18,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2015-09-01,POS,"'9285 28AUG15 C , LONDON AND SOUTH EAS, LONDON...",-9.40,1296.78,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2015-09-01,POS,"'9285 28AUG15 C , PRET A MANGER , GATWICK SOUT...",-8.27,1288.51,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015-09-01,POS,"'9285 28AUG15 C , BOOTS 2000 , GATWICK AIRPO GB",-2.49,1286.02,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2015-09-01,D/D,'SOAS,-3.00,1283.02,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2015-09-01,D/D,"'H3G , INITIAL PAYMENT",-23.19,1259.83,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2015-09-02,BAC,"'CONTRACTOR UMBRELL, CONTRACTOR UMBRELL, FP 02...",587.79,1847.62,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2015-09-02,POS,"'9285 01SEP15 C , CO-OP GROUP PETROL, BOW ROAD GB",-13.07,1834.55,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2015-09-02,POS,"'9285 01SEP15 , MAYOR , 02089 812676 GB",-8.20,1826.35,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2015-09-03,POS,"'9285 02SEP15 C , ITSU LTD , LNDN EC2A 010 GB",-3.99,1822.36,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2015-09-04,CHG,'19AUG A/C 10651269,-13.78,1808.58,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2015-09-04,POS,"'9285 03SEP15 , GOOGLE , *SVCSAPPS_MOTIO , 303...",-8.00,1800.58,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2015-09-04,POS,"'9285 03SEP15 , CO-OP GROUP PETROL, BOW ROAD GB",-25.48,1775.10,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2015-09-04,POS,"'9285 03SEP15 C , WASABI FINSBURY , PAVEME , L...",-5.45,1769.65,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2015-09-07,POS,"'9285 05SEP15 , 447935858985 , FEE GB",-70.00,1699.65,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2015-09-07,POS,"'9285 04SEP15 , THE RIVERFRONT , LONDON GB",-12.90,1686.75,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2015-09-07,POS,"'9285 06SEP15 C , CO-OP GROUP PETROL, BOW ROAD GB",-3.59,1683.16,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,2015-12-07,POS,"'9285 04DEC15 C , PIZZA BUZZ , 2B WORSHIP ST GB",-7.83,2238.60,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,2015-12-07,POS,"'9285 05DEC15 , TFL CYCLE HIRE , BRAHAM STREET GB",-4.00,2234.60,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,2015-12-07,POS,"'9285 06DEC15 , GOOGLE *COMMERCE , LTD , GOOGL...",-9.99,2224.61,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,2015-12-07,POS,"'9285 06DEC15 C , SIMPLY FRESH , LONDON GB",-20.24,2204.37,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,2015-12-08,POS,"'9285 08DEC15 , MUBI , LONDON GB",-4.99,2199.38,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,2015-12-08,POS,"'9285 07DEC15 C , SUBWAY , CITY ROAD LON GB",-5.69,2193.69,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,2015-12-08,D/D,'UNICEF UK,-4.00,2189.69,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,2015-12-09,POS,"'9285 08DEC15 , MUDMEE THAI RESTAU, LONDON E1 GB",-19.70,2169.99,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,2015-12-10,POS,"'9285 09DEC15 C , SUBWAY , CITY ROAD LON GB",-6.98,2163.01,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,2015-12-14,POS,"'9285 11DEC15 , GIVEWELL , 6462332035 US , USD...",-4.31,2158.70,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,2015-12-14,POS,"'9285 11DEC15 , BB *RAINFOREST , TRUST , 80045...",-4.31,2154.39,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,2015-12-14,POS,"'9285 13DEC15 , 447581427540 , FEE GB",-20.17,2134.22,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,2015-12-14,POS,"'9285 12DEC15 C , TFL.GOV.UK/CP , TFL TRAVEL C...",-1.50,2132.72,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,2015-12-14,POS,"'9285 12DEC15 C , PAPERCHASE , STRATFORD GB",-3.00,2129.72,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,2015-12-14,POS,"'9285 13DEC15 C , CO-OP GROUP PETROL, BOW ROAD GB",-8.58,2121.14,'Current,'162632-10651269,2015-12-13,Food/Groceries,Groceries,-8.58,Rbs,NaN,NaN
255,2015-12-14,POS,"'9285 12DEC15 C , M AND S SIMPLY FOOD - , SSP ...",-8.25,2112.89,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,2015-12-14,POS,"'9285 12DEC15 , NEWSPOINT , (STRATFORD) , LOND...",-5.17,2107.72,'Current,'162632-10651269,2015-12-12,Food/Groceries,Snack / Sweets,-5.17,Rbs,NaN,NaN
257,2015-12-14,POS,"'9285 12DEC15 C , TORTILLA WESTFIELD, STR , LO...",-16.70,2091.02,'Current,'162632-10651269,2015-12-12,Food/Groceries,Restaurant/Fast food,-16.70,Rbs,NaN,NaN
258,2015-12-14,POS,"'9285 12DEC15 C , SACAT MARKS AND , SPENCER , ...",-12.00,2079.02,'Current,'162632-10651269,2015-12-12,Entertainment,Night Out,-12.00,Rbs,NaN,NaN
259,2015-12-14,POS,"'9285 12DEC15 , LEGO STORE , STRATFORD CTY GB",-4.99,2074.03,'Current,'162632-10651269,2015-12-12,Misc/One-time,Gifts/Charity,-4.99,Rbs,NaN,NaN
260,2015-12-14,POS,"'9285 12DEC15 C , CO-OP GROUP PETROL, BOW ROAD GB",-7.90,2066.13,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,2015-12-14,POS,"'9285 11DEC15 C , SIMPLY FRESH , LONDON GB",-12.47,2053.66,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,2015-12-15,BAC,'ELSEVIER LTD,2982.97,5036.63,'Current,'162632-10651269,2015-12-16,Salary,NaN,2982.97,Rbs,NaN,NaN
263,2015-12-15,POS,"'9285 14DEC15 , CURRYS DIGITAL , LONDON GB",-34.98,5001.65,'Current,'162632-10651269,2015-12-14,Departmental,Electronics,-34.98,Rbs,NaN,NaN
264,2015-12-15,POS,"'9285 14DEC15 C , SUBWAY , CITY ROAD LON GB",-5.50,4996.15,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,2015-12-15,POS,"'9285 14DEC15 , HACHE BURGER , CONNOISSE , LON...",-72.69,4923.46,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,2015-12-15,POS,"'9285 14DEC15 , CYCLE SURGERY , LONDON EC1Y GB",-69.98,4853.48,'Current,'162632-10651269,2015-12-14,Car/Auto,Bike,-69.98,Rbs,NaN,NaN
267,2015-12-15,D/D,'OXFAM DD,-3.00,4850.48,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,2015-12-18,IBP,"'9285 16DEC15 , TESCO STORES-2092",-7.50,4842.98,'Current,'162632-10651269,2015-12-16,Food/Groceries,Groceries,-7.50,Rbs,NaN,NaN
269,2015-12-18,D/D,'OVO ENERGY,-44.00,4798.98,'Current,'162632-10651269,NaN,NaN,NaN,NaN,NaN,NaN,NaN