In [8]:
import pandas as pd
sot = pd.DataFrame.from_csv('first_SOT.csv')
sot.drop(['Account Number', 'Balance'], axis=1, inplace=True)

In [13]:
sot['Account Name'] = sot['Account Name'].apply(lambda x: 'Current')

In [14]:
sot

,Date,Type,Description,Value,Account Name,Date.1,Category,SubCategory,Expense Amount,Account,Payee,Notes
0,2015-08-20,D/D,'LBTH COUNCIL TAX,-98.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-08-21,POS,"'9285 18AUG15 , DELIVEROO.CO.UK , 02033223444 GB",-27.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-08-21,C/L,'NATWEST 20AUG,-20.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-08-24,POS,"'9285 21AUG15 , AMAZON DIGITAL , DWNLDS , 866-...",-1.99,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-08-24,POS,"'9285 23AUG15 , DELIVERANCE , LIMITED , LONDON GB",-17.20,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-08-26,POS,"'9285 25AUG15 , UDACITY, INC. , 8778877815 US ...",-130.69,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-08-26,POS,"'9285 25AUG15 , MONSTER SUPPLEMENT, HULL GB",-63.32,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2015-08-26,D/D,'PNET2674351-1,-18.45,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015-08-27,BAC,"'CONTRACTOR UMBRELL, CONTRACTOR UMBRELL, FP 27...",626.39,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2015-08-27,POS,"'9285 26AUG15 , DELIVERANCE , LIMITED , LONDON GB",-23.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2015-08-28,POS,"'9285 27AUG15 C , ITSU LTD , LNDN EC2A 010 GB",-8.28,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2015-08-28,D/D,'HALIFAX,-8.18,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2015-09-01,POS,"'9285 28AUG15 C , BOOTS 1137 , GATWICK AIRPO GB",-7.75,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2015-09-01,POS,"'9285 28AUG15 C , BOOTS 2000 , GATWICK AIRPO GB",-3.38,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2015-09-01,POS,"'9285 28AUG15 C , LONDON AND SOUTH EAS, LONDON...",-9.40,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2015-09-01,POS,"'9285 28AUG15 C , PRET A MANGER , GATWICK SOUT...",-8.27,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015-09-01,POS,"'9285 28AUG15 C , BOOTS 2000 , GATWICK AIRPO GB",-2.49,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2015-09-01,D/D,'SOAS,-3.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2015-09-01,D/D,"'H3G , INITIAL PAYMENT",-23.19,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2015-09-02,BAC,"'CONTRACTOR UMBRELL, CONTRACTOR UMBRELL, FP 02...",587.79,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2015-09-02,POS,"'9285 01SEP15 C , CO-OP GROUP PETROL, BOW ROAD GB",-13.07,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2015-09-02,POS,"'9285 01SEP15 , MAYOR , 02089 812676 GB",-8.20,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2015-09-03,POS,"'9285 02SEP15 C , ITSU LTD , LNDN EC2A 010 GB",-3.99,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2015-09-04,CHG,'19AUG A/C 10651269,-13.78,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2015-09-04,POS,"'9285 03SEP15 , GOOGLE , *SVCSAPPS_MOTIO , 303...",-8.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2015-09-04,POS,"'9285 03SEP15 , CO-OP GROUP PETROL, BOW ROAD GB",-25.48,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2015-09-04,POS,"'9285 03SEP15 C , WASABI FINSBURY , PAVEME , L...",-5.45,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2015-09-07,POS,"'9285 05SEP15 , 447935858985 , FEE GB",-70.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2015-09-07,POS,"'9285 04SEP15 , THE RIVERFRONT , LONDON GB",-12.90,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2015-09-07,POS,"'9285 06SEP15 C , CO-OP GROUP PETROL, BOW ROAD GB",-3.59,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
240,2015-12-07,POS,"'9285 04DEC15 C , PIZZA BUZZ , 2B WORSHIP ST GB",-7.83,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,2015-12-07,POS,"'9285 05DEC15 , TFL CYCLE HIRE , BRAHAM STREET GB",-4.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,2015-12-07,POS,"'9285 06DEC15 , GOOGLE *COMMERCE , LTD , GOOGL...",-9.99,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,2015-12-07,POS,"'9285 06DEC15 C , SIMPLY FRESH , LONDON GB",-20.24,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,2015-12-08,POS,"'9285 08DEC15 , MUBI , LONDON GB",-4.99,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,2015-12-08,POS,"'9285 07DEC15 C , SUBWAY , CITY ROAD LON GB",-5.69,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,2015-12-08,D/D,'UNICEF UK,-4.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,2015-12-09,POS,"'9285 08DEC15 , MUDMEE THAI RESTAU, LONDON E1 GB",-19.70,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,2015-12-10,POS,"'9285 09DEC15 C , SUBWAY , CITY ROAD LON GB",-6.98,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,2015-12-14,POS,"'9285 11DEC15 , GIVEWELL , 6462332035 US , USD...",-4.31,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,2015-12-14,POS,"'9285 11DEC15 , BB *RAINFOREST , TRUST , 80045...",-4.31,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,2015-12-14,POS,"'9285 13DEC15 , 447581427540 , FEE GB",-20.17,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,2015-12-14,POS,"'9285 12DEC15 C , TFL.GOV.UK/CP , TFL TRAVEL C...",-1.50,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,2015-12-14,POS,"'9285 12DEC15 C , PAPERCHASE , STRATFORD GB",-3.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,2015-12-14,POS,"'9285 13DEC15 C , CO-OP GROUP PETROL, BOW ROAD GB",-8.58,Current,2015-12-13,Food/Groceries,Groceries,-8.58,Rbs,NaN,NaN
255,2015-12-14,POS,"'9285 12DEC15 C , M AND S SIMPLY FOOD - , SSP ...",-8.25,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,2015-12-14,POS,"'9285 12DEC15 , NEWSPOINT , (STRATFORD) , LOND...",-5.17,Current,2015-12-12,Food/Groceries,Snack / Sweets,-5.17,Rbs,NaN,NaN
257,2015-12-14,POS,"'9285 12DEC15 C , TORTILLA WESTFIELD, STR , LO...",-16.70,Current,2015-12-12,Food/Groceries,Restaurant/Fast food,-16.70,Rbs,NaN,NaN
258,2015-12-14,POS,"'9285 12DEC15 C , SACAT MARKS AND , SPENCER , ...",-12.00,Current,2015-12-12,Entertainment,Night Out,-12.00,Rbs,NaN,NaN
259,2015-12-14,POS,"'9285 12DEC15 , LEGO STORE , STRATFORD CTY GB",-4.99,Current,2015-12-12,Misc/One-time,Gifts/Charity,-4.99,Rbs,NaN,NaN
260,2015-12-14,POS,"'9285 12DEC15 C , CO-OP GROUP PETROL, BOW ROAD GB",-7.90,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,2015-12-14,POS,"'9285 11DEC15 C , SIMPLY FRESH , LONDON GB",-12.47,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,2015-12-15,BAC,'ELSEVIER LTD,2982.97,Current,2015-12-16,Salary,NaN,2982.97,Rbs,NaN,NaN
263,2015-12-15,POS,"'9285 14DEC15 , CURRYS DIGITAL , LONDON GB",-34.98,Current,2015-12-14,Departmental,Electronics,-34.98,Rbs,NaN,NaN
264,2015-12-15,POS,"'9285 14DEC15 C , SUBWAY , CITY ROAD LON GB",-5.50,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,2015-12-15,POS,"'9285 14DEC15 , HACHE BURGER , CONNOISSE , LON...",-72.69,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,2015-12-15,POS,"'9285 14DEC15 , CYCLE SURGERY , LONDON EC1Y GB",-69.98,Current,2015-12-14,Car/Auto,Bike,-69.98,Rbs,NaN,NaN
267,2015-12-15,D/D,'OXFAM DD,-3.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,2015-12-18,IBP,"'9285 16DEC15 , TESCO STORES-2092",-7.50,Current,2015-12-16,Food/Groceries,Groceries,-7.50,Rbs,NaN,NaN
269,2015-12-18,D/D,'OVO ENERGY,-44.00,Current,NaN,NaN,NaN,NaN,NaN,NaN,NaN

AttributeError: module 'numpy' has no attribute 'plot'