In [25]:
import pandas as pd
import datetime

class SOT(object):
    def __init__(self, sot_file):
        self.sot_df = pd.read_csv(sot_file)
        self.sot_df['Date'] = pd.to_datetime(self.sot_df['Date'], dayfirst=True)
        self.sot_df['budget_date'] = pd.to_datetime(self.sot_df['budget_date'], dayfirst=True)
        
    def __call__(self):
        return self.sot_df

    def save_csv(self):
        file_name = 'SOT - {}.csv'.format(datetime.datetime.now().strftime("%y.%m.%d - %H.%M")) 
        self.sot_df.to_csv(file_name, index=False)
        print(file_name)
    
    def update_budget(self, budget_records):
        return budget_records

    def prep_new_bank(self, csv_location):
        new_bank = pd.read_csv(csv_location)
        new_bank['Date'] = pd.to_datetime(new_bank['Date'], dayfirst=True)
        new_bank.columns = [col.strip() for col in new_bank]
        return new_bank.sort_index()
    
    def update_bank(self, csv_location):
        new_bank_df = self.prep_new_bank(csv_location)
        updated_sot = self.sot_df
        for n, row in new_bank_df.iterrows():
            updated_sot = self.update_sot(row, new_bank_df, updated_sot)
        self.sot_df = updated_sot
    
    def match_bank_on_sot_bank_conditions(self, row):
        helper = []
        for col in row.index:
            helper+= ["(updated_sot['{0}'] == row['{0}'])".format(col)]
        return'updated_sot[{}]'.format('&'.join(helper))
    
    def match_bank_on_sot_budget_conditions(self,row):
        date_match = "(abs((updated_sot['budget_date'] - row['Date'])) < pd.to_timedelta('4 Days'))"
        value_match = "(updated_sot['Expense Amount'] == row['Value'])"
        matches = [value_match, date_match]
        return 'updated_sot[{}]'.format('&'.join(matches))
    
    def update_sot(self, row, bank_df, updated_sot):
        # TODO need to think about rare case where updated_sot.groupby(['Description','Date', 'Value']).size().sort_values(ascending=False) 
        matched_bank_cols = eval(self.match_bank_on_sot_bank_conditions(row))
        matched_on_budget = eval(self.match_bank_on_sot_budget_conditions(row))
        one_to_one = (set(matched_bank_cols.index.values) == set(matched_on_budget.index.values))
        
        if matched_bank_cols.shape[0]:  # Existing bank match found, do nothing
            return updated_sot
        elif len(matched_on_budget) == 0:  # No budget match found, make new row
            new_row = pd.DataFrame(data=row, index=row.index).transpose()
            return pd.concat([updated_sot, new_row])        
        elif len(matched_on_budget) == 1 and one_to_one:  # unique budget match found, update entries in SOT
            correct_row = updated_sot
            for key in row.index:
                updated_sot = updated_sot.set_value(matched_bank_cols.index.values[0], updated_sot[key],row[key])
            return updated_sot
        elif len(number_budget_matches) > 1:  # Ambiguous match in budget
            raise Exception('Ambiguous match in budget')
        else:
            raise Exception('Couldnt match budget and bank cols properly')
    

sot = SOT('SOT - 15.12.26 - 16.22.csv')

In [26]:
sot()

,Account,Account Name,Category,Date,Description,Expense Amount,Notes,Payee,SubCategory,Type,Value,budget_date
0,NaN,'Current,NaN,2015-08-20,'LBTH COUNCIL TAX,NaN,NaN,NaN,NaN,D/D,-98.00,NaT
1,NaN,'Current,NaN,2015-08-21,"'9285 18AUG15 , DELIVEROO.CO.UK , 02033223444 GB",NaN,NaN,NaN,NaN,POS,-27.00,NaT
2,NaN,'Current,NaN,2015-08-21,'NATWEST 20AUG,NaN,NaN,NaN,NaN,C/L,-20.00,NaT
3,NaN,'Current,NaN,2015-08-24,"'9285 21AUG15 , AMAZON DIGITAL , DWNLDS , 866-...",NaN,NaN,NaN,NaN,POS,-1.99,NaT
4,NaN,'Current,NaN,2015-08-24,"'9285 23AUG15 , DELIVERANCE , LIMITED , LONDON GB",NaN,NaN,NaN,NaN,POS,-17.20,NaT
5,NaN,'Current,NaN,2015-08-26,"'9285 25AUG15 , UDACITY, INC. , 8778877815 US ...",NaN,NaN,NaN,NaN,POS,-130.69,NaT
6,NaN,'Current,NaN,2015-08-26,"'9285 25AUG15 , MONSTER SUPPLEMENT, HULL GB",NaN,NaN,NaN,NaN,POS,-63.32,NaT
7,NaN,'Current,NaN,2015-08-26,'PNET2674351-1,NaN,NaN,NaN,NaN,D/D,-18.45,NaT
8,NaN,'Current,NaN,2015-08-27,"'CONTRACTOR UMBRELL, CONTRACTOR UMBRELL, FP 27...",NaN,NaN,NaN,NaN,BAC,626.39,NaT
9,NaN,'Current,NaN,2015-08-27,"'9285 26AUG15 , DELIVERANCE , LIMITED , LONDON GB",NaN,NaN,NaN,NaN,POS,-23.00,NaT
10,NaN,'Current,NaN,2015-08-28,"'9285 27AUG15 C , ITSU LTD , LNDN EC2A 010 GB",NaN,NaN,NaN,NaN,POS,-8.28,NaT
11,NaN,'Current,NaN,2015-08-28,'HALIFAX,NaN,NaN,NaN,NaN,D/D,-8.18,NaT
12,NaN,'Current,NaN,2015-09-01,"'9285 28AUG15 C , BOOTS 1137 , GATWICK AIRPO GB",NaN,NaN,NaN,NaN,POS,-7.75,NaT
13,NaN,'Current,NaN,2015-09-01,"'9285 28AUG15 C , BOOTS 2000 , GATWICK AIRPO GB",NaN,NaN,NaN,NaN,POS,-3.38,NaT
14,NaN,'Current,NaN,2015-09-01,"'9285 28AUG15 C , LONDON AND SOUTH EAS, LONDON...",NaN,NaN,NaN,NaN,POS,-9.40,NaT
15,NaN,'Current,NaN,2015-09-01,"'9285 28AUG15 C , PRET A MANGER , GATWICK SOUT...",NaN,NaN,NaN,NaN,POS,-8.27,NaT
16,NaN,'Current,NaN,2015-09-01,"'9285 28AUG15 C , BOOTS 2000 , GATWICK AIRPO GB",NaN,NaN,NaN,NaN,POS,-2.49,NaT
17,NaN,'Current,NaN,2015-09-01,'SOAS,NaN,NaN,NaN,NaN,D/D,-3.00,NaT
18,NaN,'Current,NaN,2015-09-01,"'H3G , INITIAL PAYMENT",NaN,NaN,NaN,NaN,D/D,-23.19,NaT
19,NaN,'Current,NaN,2015-09-02,"'CONTRACTOR UMBRELL, CONTRACTOR UMBRELL, FP 02...",NaN,NaN,NaN,NaN,BAC,587.79,NaT
20,NaN,'Current,NaN,2015-09-02,"'9285 01SEP15 C , CO-OP GROUP PETROL, BOW ROAD GB",NaN,NaN,NaN,NaN,POS,-13.07,NaT
21,NaN,'Current,NaN,2015-09-02,"'9285 01SEP15 , MAYOR , 02089 812676 GB",NaN,NaN,NaN,NaN,POS,-8.20,NaT
22,NaN,'Current,NaN,2015-09-03,"'9285 02SEP15 C , ITSU LTD , LNDN EC2A 010 GB",NaN,NaN,NaN,NaN,POS,-3.99,NaT
23,NaN,'Current,NaN,2015-09-04,'19AUG A/C 10651269,NaN,NaN,NaN,NaN,CHG,-13.78,NaT
24,NaN,'Current,NaN,2015-09-04,"'9285 03SEP15 , GOOGLE , *SVCSAPPS_MOTIO , 303...",NaN,NaN,NaN,NaN,POS,-8.00,NaT
25,NaN,'Current,NaN,2015-09-04,"'9285 03SEP15 , CO-OP GROUP PETROL, BOW ROAD GB",NaN,NaN,NaN,NaN,POS,-25.48,NaT
26,NaN,'Current,NaN,2015-09-04,"'9285 03SEP15 C , WASABI FINSBURY , PAVEME , L...",NaN,NaN,NaN,NaN,POS,-5.45,NaT
27,NaN,'Current,NaN,2015-09-07,"'9285 05SEP15 , 447935858985 , FEE GB",NaN,NaN,NaN,NaN,POS,-70.00,NaT
28,NaN,'Current,NaN,2015-09-07,"'9285 04SEP15 , THE RIVERFRONT , LONDON GB",NaN,NaN,NaN,NaN,POS,-12.90,NaT
29,NaN,'Current,NaN,2015-09-07,"'9285 06SEP15 C , CO-OP GROUP PETROL, BOW ROAD GB",NaN,NaN,NaN,NaN,POS,-3.59,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
245,NaN,'Current,NaN,2015-12-08,"'9285 07DEC15 C , SUBWAY , CITY ROAD LON GB",NaN,NaN,NaN,NaN,POS,-5.69,NaT
246,NaN,'Current,NaN,2015-12-08,'UNICEF UK,NaN,NaN,NaN,NaN,D/D,-4.00,NaT
247,NaN,'Current,NaN,2015-12-09,"'9285 08DEC15 , MUDMEE THAI RESTAU, LONDON E1 GB",NaN,NaN,NaN,NaN,POS,-19.70,NaT
248,NaN,'Current,NaN,2015-12-10,"'9285 09DEC15 C , SUBWAY , CITY ROAD LON GB",NaN,NaN,NaN,NaN,POS,-6.98,NaT
249,NaN,'Current,NaN,2015-12-14,"'9285 11DEC15 , GIVEWELL , 6462332035 US , USD...",NaN,NaN,NaN,NaN,POS,-4.31,NaT
250,NaN,'Current,NaN,2015-12-14,"'9285 11DEC15 , BB *RAINFOREST , TRUST , 80045...",NaN,NaN,NaN,NaN,POS,-4.31,NaT
251,NaN,'Current,NaN,2015-12-14,"'9285 13DEC15 , 447581427540 , FEE GB",NaN,NaN,NaN,NaN,POS,-20.17,NaT
252,NaN,'Current,NaN,2015-12-14,"'9285 12DEC15 C , TFL.GOV.UK/CP , TFL TRAVEL C...",NaN,NaN,NaN,NaN,POS,-1.50,NaT
253,NaN,'Current,NaN,2015-12-14,"'9285 12DEC15 C , PAPERCHASE , STRATFORD GB",NaN,NaN,NaN,NaN,POS,-3.00,NaT
254,Rbs,'Current,Food/Groceries,2015-12-14,"'9285 13DEC15 C , CO-OP GROUP PETROL, BOW ROAD GB",-8.58,NaN,NaN,Groceries,POS,-8.58,2015-12-13
255,NaN,'Current,NaN,2015-12-14,"'9285 12DEC15 C , M AND S SIMPLY FOOD - , SSP ...",NaN,NaN,NaN,NaN,POS,-8.25,NaT
256,Rbs,'Current,Food/Groceries,2015-12-14,"'9285 12DEC15 , NEWSPOINT , (STRATFORD) , LOND...",-5.17,NaN,NaN,Snack / Sweets,POS,-5.17,2015-12-12
257,Rbs,'Current,Food/Groceries,2015-12-14,"'9285 12DEC15 C , TORTILLA WESTFIELD, STR , LO...",-16.70,NaN,NaN,Restaurant/Fast food,POS,-16.70,2015-12-12
258,Rbs,'Current,Entertainment,2015-12-14,"'9285 12DEC15 C , SACAT MARKS AND , SPENCER , ...",-12.00,NaN,NaN,Night Out,POS,-12.00,2015-12-12
259,Rbs,'Current,Misc/One-time,2015-12-14,"'9285 12DEC15 , LEGO STORE , STRATFORD CTY GB",-4.99,NaN,NaN,Gifts/Charity,POS,-4.99,2015-12-12
260,NaN,'Current,NaN,2015-12-14,"'9285 12DEC15 C , CO-OP GROUP PETROL, BOW ROAD GB",NaN,NaN,NaN,NaN,POS,-7.90,NaT
261,NaN,'Current,NaN,2015-12-14,"'9285 11DEC15 C , SIMPLY FRESH , LONDON GB",NaN,NaN,NaN,NaN,POS,-12.47,NaT
262,Rbs,'Current,Salary,2015-12-15,'ELSEVIER LTD,2982.97,NaN,NaN,NaN,BAC,2982.97,2015-12-16
263,Rbs,'Current,Departmental,2015-12-15,"'9285 14DEC15 , CURRYS DIGITAL , LONDON GB",-34.98,NaN,NaN,Electronics,POS,-34.98,2015-12-14
264,NaN,'Current,NaN,2015-12-15,"'9285 14DEC15 C , SUBWAY , CITY ROAD LON GB",NaN,NaN,NaN,NaN,POS,-5.50,NaT
265,NaN,'Current,NaN,2015-12-15,"'9285 14DEC15 , HACHE BURGER , CONNOISSE , LON...",NaN,NaN,NaN,NaN,POS,-72.69,NaT
266,Rbs,'Current,Car/Auto,2015-12-15,"'9285 14DEC15 , CYCLE SURGERY , LONDON EC1Y GB",-69.98,NaN,NaN,Bike,POS,-69.98,2015-12-14
267,NaN,'Current,NaN,2015-12-15,'OXFAM DD,NaN,NaN,NaN,NaN,D/D,-3.00,NaT
268,Rbs,'Current,Food/Groceries,2015-12-18,"'9285 16DEC15 , TESCO STORES-2092",-7.50,NaN,NaN,Groceries,IBP,-7.50,2015-12-16
269,NaN,'Current,NaN,2015-12-18,'OVO ENERGY,NaN,NaN,NaN,NaN,D/D,-44.00,NaT
270,NaN,'Current,NaN,2015-12-21,'LBTH COUNCIL TAX,NaN,NaN,NaN,NaN,D/D,-98.00,NaT
271,NaN,'Current,NaN,2015-12-22,"'0707 21DEC15 , GOOGLE *NOODLECAKE, GOOGLE.COM...",NaN,NaN,NaN,NaN,POS,-1.79,NaT
272,NaN,'Current,NaN,2015-12-23,"'0707 22DEC15 , WASABI FINSBURY , PAVEME , LON...",NaN,NaN,NaN,NaN,POS,-4.45,NaT
273,NaN,'Current,NaN,2015-12-24,"'0707 23DEC15 , TRAINLINE , 03332 022 222 LU",NaN,NaN,NaN,NaN,POS,-60.50,NaT
274,NaN,'Current,NaN,2015-12-24,"'0707 23DEC15 , 447825314092 , FEE GB",NaN,NaN,NaN,NaN,POS,-53.00,NaT