In [56]:
import pandas as pd
import datetime

In [59]:
class SOT(object):
    def __init__(self, sot_file):
        self.sot_df = pd.read_csv(sot_file)
        self.sot_df['Date'] = pd.to_datetime(self.sot_df['Date'], dayfirst=True) 
        
    def __call__(self):
        return self.sot_df
        
    def save_csv(self):
        print(datetime.datetime.now().strftime("%Y-%m-%d-%H:%M"))
    
    def update_budget(self, budget_records):
        return budget_records

    def prep_second_bank(self, csv_location):
        second_bank = pd.read_csv(csv_location)
        second_bank['Date'] = pd.to_datetime(second_bank['Date'], dayfirst=True)
        second_bank.columns = [col.strip() for col in second_bank]
        return second_bank.sort_index()
    
    def update_bank(self, second_bank_csv):
        second_bank_df = self.prep_second_bank(second_bank_csv)
        updated_sot = self.sot_df
        for n, row in second_bank_df.iterrows():
            Date, Type, Description, Value, Balance, Account_name, Account_Number = row # *Something tat requires configing
            key = {'Value':Value, 'Date':Date}
            row_type = self.bank_row_type(key, second_bank_df, updated_sot)
            updated_sot = self.bank_row_type_strategy(row_type, row, second_bank_df, updated_sot)
        return updated_sot

    def bank_row_type(self, key, bank_df, updated_sot):
        match_bank_cols = (updated_sot['Value'] == key['Value'])# & (updated_sot['Date'].isin(key['Date']) # *Something tat requires configing
        matched_bank = match_bank_cols.sum()
        #assert matched_bank < 2, 'multiple match for bank - check function to match bank with bank'

        if not matched_bank:
            # New bank entry...
            matched_budget = (updated_sot['budget_date'] == key)
            number_budget_matches = matched_budget.sum()
            if number_budget_matches:
                # Matches 
                if number_budget_matches == 1:
                    # found unique match
                    match = updated_sot[matched_budget].index
                    assert len(match) == 1, 'match is not unique'
                    return 'unique match', match[0]
                elif number_budget_matches > 1:
                    # found multiple matches
                    return 'multiple match'
            else:
                print('****',key)
                # Need to make new row
                return 'brand new'
        else:
            # Entry already found in bank section, no need to do anything
            return 'existing bank match'
        
    def bank_row_type_strategy(self, row_type, row, second_bank_df, updated_sot):
        bank_cols = second_bank_df.columns
        if row_type == 'existing bank match':
            return updated_sot  # Do nothing
        elif row_type == 'brand new':
            new_row = pd.DataFrame(data=row, index=bank_cols).transpose()
            return pd.concat([updated_sot, new_row])  # Add new row to updated_df
        elif row_type[0] == 'unique match':
            correct_row = updated_sot
            for i in range(len(row)):
                updated_sot = updated_sot.set_value(row_type[1], bank_cols[i],row[i])
            return updated_sot  # Match with 
        elif row_type == 'multiple match':
            print('multiple match: {}'.format(row))
            return updated_sot  # Do nothing
        else:
            raise Exception('unhandled case of bank row type')
                
    


sot = SOT('first_SOT.csv')

In [60]:
x = sot.update_bank('25.11-25.12 -- readied.csv')
x.to_csv('did_it_work.csv')
x

**** {'Value': -4.45, 'Date': Timestamp('2015-12-23 00:00:00')}
**** {'Value': -53.0, 'Date': Timestamp('2015-12-24 00:00:00')}

,Account,Account Name,Account Number,Balance,Category,Date,Description,Expense Amount,Notes,Payee,SubCategory,Type,Unnamed: 0,Value,budget_date
0,NaN,'Current,'162632-10651269,1009.03,NaN,2015-08-20 00:00:00,'LBTH COUNCIL TAX,NaN,NaN,NaN,NaN,D/D,0,-98,NaN
1,NaN,'Current,'162632-10651269,982.03,NaN,2015-08-21 00:00:00,"'9285 18AUG15 , DELIVEROO.CO.UK , 02033223444 GB",NaN,NaN,NaN,NaN,POS,1,-27,NaN
2,NaN,'Current,'162632-10651269,962.03,NaN,2015-08-21 00:00:00,'NATWEST 20AUG,NaN,NaN,NaN,NaN,C/L,2,-20,NaN
3,NaN,'Current,'162632-10651269,960.04,NaN,2015-08-24 00:00:00,"'9285 21AUG15 , AMAZON DIGITAL , DWNLDS , 866-...",NaN,NaN,NaN,NaN,POS,3,-1.99,NaN
4,NaN,'Current,'162632-10651269,942.84,NaN,2015-08-24 00:00:00,"'9285 23AUG15 , DELIVERANCE , LIMITED , LONDON GB",NaN,NaN,NaN,NaN,POS,4,-17.2,NaN
5,NaN,'Current,'162632-10651269,812.15,NaN,2015-08-26 00:00:00,"'9285 25AUG15 , UDACITY, INC. , 8778877815 US ...",NaN,NaN,NaN,NaN,POS,5,-130.69,NaN
6,NaN,'Current,'162632-10651269,748.83,NaN,2015-08-26 00:00:00,"'9285 25AUG15 , MONSTER SUPPLEMENT, HULL GB",NaN,NaN,NaN,NaN,POS,6,-63.32,NaN
7,NaN,'Current,'162632-10651269,730.38,NaN,2015-08-26 00:00:00,'PNET2674351-1,NaN,NaN,NaN,NaN,D/D,7,-18.45,NaN
8,NaN,'Current,'162632-10651269,1356.77,NaN,2015-08-27 00:00:00,"'CONTRACTOR UMBRELL, CONTRACTOR UMBRELL, FP 27...",NaN,NaN,NaN,NaN,BAC,8,626.39,NaN
9,NaN,'Current,'162632-10651269,1333.77,NaN,2015-08-27 00:00:00,"'9285 26AUG15 , DELIVERANCE , LIMITED , LONDON GB",NaN,NaN,NaN,NaN,POS,9,-23,NaN
10,NaN,'Current,'162632-10651269,1325.49,NaN,2015-08-28 00:00:00,"'9285 27AUG15 C , ITSU LTD , LNDN EC2A 010 GB",NaN,NaN,NaN,NaN,POS,10,-8.28,NaN
11,NaN,'Current,'162632-10651269,1317.31,NaN,2015-08-28 00:00:00,'HALIFAX,NaN,NaN,NaN,NaN,D/D,11,-8.18,NaN
12,NaN,'Current,'162632-10651269,1309.56,NaN,2015-09-01 00:00:00,"'9285 28AUG15 C , BOOTS 1137 , GATWICK AIRPO GB",NaN,NaN,NaN,NaN,POS,12,-7.75,NaN
13,NaN,'Current,'162632-10651269,1306.18,NaN,2015-09-01 00:00:00,"'9285 28AUG15 C , BOOTS 2000 , GATWICK AIRPO GB",NaN,NaN,NaN,NaN,POS,13,-3.38,NaN
14,NaN,'Current,'162632-10651269,1296.78,NaN,2015-09-01 00:00:00,"'9285 28AUG15 C , LONDON AND SOUTH EAS, LONDON...",NaN,NaN,NaN,NaN,POS,14,-9.4,NaN
15,NaN,'Current,'162632-10651269,1288.51,NaN,2015-09-01 00:00:00,"'9285 28AUG15 C , PRET A MANGER , GATWICK SOUT...",NaN,NaN,NaN,NaN,POS,15,-8.27,NaN
16,NaN,'Current,'162632-10651269,1286.02,NaN,2015-09-01 00:00:00,"'9285 28AUG15 C , BOOTS 2000 , GATWICK AIRPO GB",NaN,NaN,NaN,NaN,POS,16,-2.49,NaN
17,NaN,'Current,'162632-10651269,1283.02,NaN,2015-09-01 00:00:00,'SOAS,NaN,NaN,NaN,NaN,D/D,17,-3,NaN
18,NaN,'Current,'162632-10651269,1259.83,NaN,2015-09-01 00:00:00,"'H3G , INITIAL PAYMENT",NaN,NaN,NaN,NaN,D/D,18,-23.19,NaN
19,NaN,'Current,'162632-10651269,1847.62,NaN,2015-09-02 00:00:00,"'CONTRACTOR UMBRELL, CONTRACTOR UMBRELL, FP 02...",NaN,NaN,NaN,NaN,BAC,19,587.79,NaN
20,NaN,'Current,'162632-10651269,1834.55,NaN,2015-09-02 00:00:00,"'9285 01SEP15 C , CO-OP GROUP PETROL, BOW ROAD GB",NaN,NaN,NaN,NaN,POS,20,-13.07,NaN
21,NaN,'Current,'162632-10651269,1826.35,NaN,2015-09-02 00:00:00,"'9285 01SEP15 , MAYOR , 02089 812676 GB",NaN,NaN,NaN,NaN,POS,21,-8.2,NaN
22,NaN,'Current,'162632-10651269,1822.36,NaN,2015-09-03 00:00:00,"'9285 02SEP15 C , ITSU LTD , LNDN EC2A 010 GB",NaN,NaN,NaN,NaN,POS,22,-3.99,NaN
23,NaN,'Current,'162632-10651269,1808.58,NaN,2015-09-04 00:00:00,'19AUG A/C 10651269,NaN,NaN,NaN,NaN,CHG,23,-13.78,NaN
24,NaN,'Current,'162632-10651269,1800.58,NaN,2015-09-04 00:00:00,"'9285 03SEP15 , GOOGLE , *SVCSAPPS_MOTIO , 303...",NaN,NaN,NaN,NaN,POS,24,-8,NaN
25,NaN,'Current,'162632-10651269,1775.1,NaN,2015-09-04 00:00:00,"'9285 03SEP15 , CO-OP GROUP PETROL, BOW ROAD GB",NaN,NaN,NaN,NaN,POS,25,-25.48,NaN
26,NaN,'Current,'162632-10651269,1769.65,NaN,2015-09-04 00:00:00,"'9285 03SEP15 C , WASABI FINSBURY , PAVEME , L...",NaN,NaN,NaN,NaN,POS,26,-5.45,NaN
27,NaN,'Current,'162632-10651269,1699.65,NaN,2015-09-07 00:00:00,"'9285 05SEP15 , 447935858985 , FEE GB",NaN,NaN,NaN,NaN,POS,27,-70,NaN
28,NaN,'Current,'162632-10651269,1686.75,NaN,2015-09-07 00:00:00,"'9285 04SEP15 , THE RIVERFRONT , LONDON GB",NaN,NaN,NaN,NaN,POS,28,-12.9,NaN
29,NaN,'Current,'162632-10651269,1683.16,NaN,2015-09-07 00:00:00,"'9285 06SEP15 C , CO-OP GROUP PETROL, BOW ROAD GB",NaN,NaN,NaN,NaN,POS,29,-3.59,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,NaN,'Current,'162632-10651269,2224.61,NaN,2015-12-07 00:00:00,"'9285 06DEC15 , GOOGLE *COMMERCE , LTD , GOOGL...",NaN,NaN,NaN,NaN,POS,242,-9.99,NaN
243,NaN,'Current,'162632-10651269,2204.37,NaN,2015-12-07 00:00:00,"'9285 06DEC15 C , SIMPLY FRESH , LONDON GB",NaN,NaN,NaN,NaN,POS,243,-20.24,NaN
244,NaN,'Current,'162632-10651269,2199.38,NaN,2015-12-08 00:00:00,"'9285 08DEC15 , MUBI , LONDON GB",NaN,NaN,NaN,NaN,POS,244,-4.99,NaN
245,NaN,'Current,'162632-10651269,2193.69,NaN,2015-12-08 00:00:00,"'9285 07DEC15 C , SUBWAY , CITY ROAD LON GB",NaN,NaN,NaN,NaN,POS,245,-5.69,NaN
246,NaN,'Current,'162632-10651269,2189.69,NaN,2015-12-08 00:00:00,'UNICEF UK,NaN,NaN,NaN,NaN,D/D,246,-4,NaN
247,NaN,'Current,'162632-10651269,2169.99,NaN,2015-12-09 00:00:00,"'9285 08DEC15 , MUDMEE THAI RESTAU, LONDON E1 GB",NaN,NaN,NaN,NaN,POS,247,-19.7,NaN
248,NaN,'Current,'162632-10651269,2163.01,NaN,2015-12-10 00:00:00,"'9285 09DEC15 C , SUBWAY , CITY ROAD LON GB",NaN,NaN,NaN,NaN,POS,248,-6.98,NaN
249,NaN,'Current,'162632-10651269,2158.7,NaN,2015-12-14 00:00:00,"'9285 11DEC15 , GIVEWELL , 6462332035 US , USD...",NaN,NaN,NaN,NaN,POS,249,-4.31,NaN
250,NaN,'Current,'162632-10651269,2154.39,NaN,2015-12-14 00:00:00,"'9285 11DEC15 , BB *RAINFOREST , TRUST , 80045...",NaN,NaN,NaN,NaN,POS,250,-4.31,NaN
251,NaN,'Current,'162632-10651269,2134.22,NaN,2015-12-14 00:00:00,"'9285 13DEC15 , 447581427540 , FEE GB",NaN,NaN,NaN,NaN,POS,251,-20.17,NaN
252,NaN,'Current,'162632-10651269,2132.72,NaN,2015-12-14 00:00:00,"'9285 12DEC15 C , TFL.GOV.UK/CP , TFL TRAVEL C...",NaN,NaN,NaN,NaN,POS,252,-1.5,NaN
253,NaN,'Current,'162632-10651269,2129.72,NaN,2015-12-14 00:00:00,"'9285 12DEC15 C , PAPERCHASE , STRATFORD GB",NaN,NaN,NaN,NaN,POS,253,-3,NaN
254,Rbs,'Current,'162632-10651269,2121.14,Food/Groceries,2015-12-14 00:00:00,"'9285 13DEC15 C , CO-OP GROUP PETROL, BOW ROAD GB",-8.58,NaN,NaN,Groceries,POS,254,-8.58,13/12/2015
255,NaN,'Current,'162632-10651269,2112.89,NaN,2015-12-14 00:00:00,"'9285 12DEC15 C , M AND S SIMPLY FOOD - , SSP ...",NaN,NaN,NaN,NaN,POS,255,-8.25,NaN
256,Rbs,'Current,'162632-10651269,2107.72,Food/Groceries,2015-12-14 00:00:00,"'9285 12DEC15 , NEWSPOINT , (STRATFORD) , LOND...",-5.17,NaN,NaN,Snack / Sweets,POS,256,-5.17,12/12/2015
257,Rbs,'Current,'162632-10651269,2091.02,Food/Groceries,2015-12-14 00:00:00,"'9285 12DEC15 C , TORTILLA WESTFIELD, STR , LO...",-16.70,NaN,NaN,Restaurant/Fast food,POS,257,-16.7,12/12/2015
258,Rbs,'Current,'162632-10651269,2079.02,Entertainment,2015-12-14 00:00:00,"'9285 12DEC15 C , SACAT MARKS AND , SPENCER , ...",-12.00,NaN,NaN,Night Out,POS,258,-12,12/12/2015
259,Rbs,'Current,'162632-10651269,2074.03,Misc/One-time,2015-12-14 00:00:00,"'9285 12DEC15 , LEGO STORE , STRATFORD CTY GB",-4.99,NaN,NaN,Gifts/Charity,POS,259,-4.99,12/12/2015
260,NaN,'Current,'162632-10651269,2066.13,NaN,2015-12-14 00:00:00,"'9285 12DEC15 C , CO-OP GROUP PETROL, BOW ROAD GB",NaN,NaN,NaN,NaN,POS,260,-7.9,NaN
261,NaN,'Current,'162632-10651269,2053.66,NaN,2015-12-14 00:00:00,"'9285 11DEC15 C , SIMPLY FRESH , LONDON GB",NaN,NaN,NaN,NaN,POS,261,-12.47,NaN
262,Rbs,'Current,'162632-10651269,5036.63,Salary,2015-12-15 00:00:00,'ELSEVIER LTD,2982.97,NaN,NaN,NaN,BAC,262,2982.97,16/12/2015
263,Rbs,'Current,'162632-10651269,5001.65,Departmental,2015-12-15 00:00:00,"'9285 14DEC15 , CURRYS DIGITAL , LONDON GB",-34.98,NaN,NaN,Electronics,POS,263,-34.98,14/12/2015
264,NaN,'Current,'162632-10651269,4996.15,NaN,2015-12-15 00:00:00,"'9285 14DEC15 C , SUBWAY , CITY ROAD LON GB",NaN,NaN,NaN,NaN,POS,264,-5.5,NaN
265,NaN,'Current,'162632-10651269,4923.46,NaN,2015-12-15 00:00:00,"'9285 14DEC15 , HACHE BURGER , CONNOISSE , LON...",NaN,NaN,NaN,NaN,POS,265,-72.69,NaN
266,Rbs,'Current,'162632-10651269,4853.48,Car/Auto,2015-12-15 00:00:00,"'9285 14DEC15 , CYCLE SURGERY , LONDON EC1Y GB",-69.98,NaN,NaN,Bike,POS,266,-69.98,14/12/2015
267,NaN,'Current,'162632-10651269,4850.48,NaN,2015-12-15 00:00:00,'OXFAM DD,NaN,NaN,NaN,NaN,D/D,267,-3,NaN
268,Rbs,'Current,'162632-10651269,4842.98,Food/Groceries,2015-12-18 00:00:00,"'9285 16DEC15 , TESCO STORES-2092",-7.50,NaN,NaN,Groceries,IBP,268,-7.5,16/12/2015
269,NaN,'Current,'162632-10651269,4798.98,NaN,2015-12-18 00:00:00,'OVO ENERGY,NaN,NaN,NaN,NaN,D/D,269,-44,NaN
72,NaN,'Current,'162632-10651269,4694.74,NaN,2015-12-23 00:00:00,"'0707 22DEC15 , WASABI FINSBURY , PAVEME , LON...",NaN,NaN,NaN,NaN,POS,NaN,-4.45,NaN
74,NaN,'Current,'162632-10651269,4581.24,NaN,2015-12-24 00:00:00,"'0707 23DEC15 , 447825314092 , FEE GB",NaN,NaN,NaN,NaN,POS,NaN,-53,NaN