In [55]:
import pandas as pd
import datetime

class SOT(object):
    def __init__(self, sot_file):
        self.sot_df = pd.read_csv(sot_file)
        self.sot_df['Date'] = pd.to_datetime(self.sot_df['Date'], dayfirst=True) 
        
    def __call__(self):
        return self.sot_df
        
    def save_csv(self):
        print(datetime.datetime.now().strftime("%Y-%m-%d-%H:%M"))
    
    def update_budget(self, budget_records):
        return budget_records

    def prep_second_bank(self, csv_location):
        second_bank = pd.read_csv(csv_location)
        second_bank['Date'] = pd.to_datetime(second_bank['Date'], dayfirst=True)
        second_bank.columns = [col.strip() for col in second_bank]
        return second_bank.sort_index()
    
    def update_bank(self, csv_location):
        second_bank_df = self.prep_second_bank(csv_location)
        updated_sot = self.sot_df
        for n, row in second_bank_df.iterrows():
            cols = second_bank_df.columns
            key = dict(zip(cols,row))  # Passes the row into bank_row_type() with column headers as key
            row_type = self.bank_row_type(key, second_bank_df, updated_sot)
            updated_sot = self.bank_row_type_strategy(row_type, row, second_bank_df, updated_sot)
        return updated_sot

    def bank_row_type(self, key, bank_df, updated_sot):
        date_match = ( abs(updated_sot['Date'] - key['Date']) < pd.Timedelta('4 Days'))
        value_match = (updated_sot['Value'] == key['Value'])        
        description_match = (updated_sot['Description'] == key['Description'])
        account_match = updated_sot['Account Name'] == key['Account Name']
        # TODO need to think about rare case where updated_sot.groupby(['Description','Date', 'Value']).size().sort_values(ascending=False) 
        match_bank_cols = date_match & value_match & description_match
        matched_bank = match_bank_cols.sum()
        if not matched_bank:
            # New bank entry...
            matched_budget = (updated_sot['budget_date'] == key)
            number_budget_matches = matched_budget.sum()
            if number_budget_matches:
                # Matches 
                if number_budget_matches == 1:
                    # found unique match
                    match = updated_sot[matched_budget].index
                    assert len(match) == 1, 'match is not unique'
                    return 'unique match', match[0]
                elif number_budget_matches > 1:
                    # found multiple matches
                    return 'multiple match'
            else:
                # Need to make new row
                return 'brand new'
        else:
            # Entry already found in bank section, no need to do anything
            return 'existing bank match'
        
    def bank_row_type_strategy(self, row_type, row, second_bank_df, updated_sot):
        bank_cols = second_bank_df.columns
        if row_type == 'existing bank match':
            return updated_sot  # Do nothing
        elif row_type == 'brand new':
            new_row = pd.DataFrame(data=row, index=bank_cols).transpose()
            return pd.concat([updated_sot, new_row])  # Add new row to updated_df
        elif row_type[0] == 'unique match':
            correct_row = updated_sot
            for i in range(len(row)):
                updated_sot = updated_sot.set_value(row_type[1], bank_cols[i],row[i])
            return updated_sot  # Match with 
        elif row_type == 'multiple match':
            return updated_sot  # Do nothing
        else:
            raise Exception('unhandled case of bank row type')
                
    


sot = SOT('first_SOT.csv')

In [56]:
x = sot.update_bank('25.11-25.12 -- readied.csv')

Description                                                                                        Date        Value
'9285 30NOV15 , UDEMY INC. , +14156025987 IE                                                       2015-12-03  -8.00      2
'9285 11OCT15 , HARDEDGE READING , LIMIT , READING GB                                              2015-10-12  -55.00     1
'9285 11DEC15 , GIVEWELL , 6462332035 US , USD 5.00, VRATE 1.5105, FGN PUR FEE 1.00                2015-12-14  -4.31      1
'9285 11DEC15 C , SIMPLY FRESH , LONDON GB                                                         2015-12-14  -12.47     1
'9285 11NOV15 , BB *RAINFOREST , TRUST , 8004564930 US , USD 5.00, VRATE 1.5105, FGN PUR FEE 1.00  2015-11-12  -4.31      1
'9285 11NOV15 , GIVEWELL , 6462332035 US , USD 5.00, VRATE 1.5105, FGN PUR FEE 1.00                2015-11-12  -4.31      1
'9285 11OCT15 , BB *RAINFOREST , TRUST , 8004564930 US , USD 5.00, VRATE 1.5243, FGN PUR FEE 1.00  2015-10-12  -4.28      1
'9285 11OCT15 , GIVEWELL , 6462332035 US , USD 5.00, VRATE 1.5243, FGN PUR FEE 1.00                2015-10-12  -4.28      1
'VIRGIN MOBILE                                                                                     2015-10-05  -17.65     1
'9285 10OCT15 C , CORBORN CORNER , LONDON GB                                                       2015-10-12  -7.86      1
'9285 11OCT15 , HOUSE OF FRASER , READING GB                                                       2015-10-12  -130.05    1
'9285 11OCT15 , OFFICE , READING 089 GB                                                            2015-10-12  -71.99     1
'9285 11OCT15 , SCHUH 033 , READING GB                                                             2015-10-12  -60.00     1
'9285 11OCT15 C , CO-OP GROUP PETROL, BOW ROAD GB                                                  2015-10-12  -1.79      1
'9285 11OCT15 C , KFC READING , READING GB                                                         2015-10-12  -9.38      1
'9285 11SEP15 , BB *RAINFOREST , TRUST , 8004564930 US , USD 5.00, VRATE 1.5432, FGN PUR FEE 1.00  2015-09-14  -4.24      1
'9285 11DEC15 , BB *RAINFOREST , TRUST , 8004564930 US , USD 5.00, VRATE 1.5105, FGN PUR FEE 1.00  2015-12-14  -4.31      1
'9285 10OCT15 , ORIGINAL BUFFALO , GRILL , READING GB                                              2015-10-12  -35.45     1
'9285 11SEP15 , TRAINLINE , 03332 022 222 LU                                                       2015-09-14  -61.50     1
'9285 10OCT15 , FGW SELF SERVICE , PADDINGTON GB                                                   2015-10-12  -26.70     1
'9285 09SEP15 C , PIZZA BUZZ , 2B WORSHIP ST GB                                                    2015-09-10  -11.40     1
'9285 09SEP15 , MUBI , LONDON GB                                                                   2015-09-09  -4.99      1
'9285 09SEP15 , CO-OP GROUP PETROL, BOW ROAD GB                                                    2015-09-10  -22.00     1
'9285 09OCT15 , MUBI , LONDON GB                                                                   2015-10-09  -4.99      1
'9285 09OCT15 , DELIVEROO.CO.UK , 02033223444 GB                                                   2015-10-12  -22.00     1
'9285 09NOV15 , HACHE BURGER , CONNOISSE , LONDON EC2A 3 GB                                        2015-11-10  -55.69     1
'9285 09DEC15 C , SUBWAY , CITY ROAD LON GB                                                        2015-12-10  -6.98      1
'9285 08SEP15 C , SUBWAY , 6 CITY ROAD GB                                                          2015-09-09  -5.99      1
'9285 08SEP15 , LLOYDS PHARMACY , WHITECHAPEL GB                                                   2015-09-09  -16.40     1
'9285 08OCT15 , DSA THEORY TEST , NOTTINGHAM GB                                                    2015-10-09  -23.00     1
                                                                                                                         ..
'9285 28AUG15 C , BOOTS 2000 , GATWICK AIRPO GB                                                    2015-09-01  -3.38      1
'9285 28AUG15 C , BOOTS 1137 , GATWICK AIRPO GB                                                    2015-09-01  -7.75      1
'9285 27SEP15 , QUICK , 247593 , REIMS0222 FR , EUR 21.40, VRATE 1.3518, FGN PUR FEE 1.00          2015-09-28  -16.83     1
'9285 27SEP15 , LE CHALAND , 75PARIS 10 FR , EUR 26.50, VRATE 1.3554, FGN PUR FEE 1.00             2015-09-29  -20.55     1
'9285 27SEP15 , CHALET DU NORD , 75PARIS 10 FR , EUR 7.00, VRATE 1.3565, FGN PUR FEE 1.00          2015-09-29  -6.16      1
'9285 27OCT15 , AMAZON UK , MARKETPLACE , 800-279-6620 LU                                          2015-10-28  -10.98     1
'9285 27NOV15 C , PRET A MANGER , 1 FINSBURY SQ GB                                                 2015-11-30  -14.78     1
'9285 27AUG15 C , ITSU LTD , LNDN EC2A 010 GB                                                      2015-08-28  -8.28      1
'9285 26SEP15 , REIMS ERLON , REIMS FR , FGN CSH FEE 2.00                                          2015-09-29  -33.31     1
'9285 26OCT15 C , SUBWAY , CITY ROAD LON GB                                                        2015-10-27  -5.99      1
'9285 26OCT15 , TRAINLINE , 03332 022 222 LU                                                       2015-10-27  -55.70     1
'9285 26NOV15 , AMAZON DIGITAL , DWNLDS , 866-321-8851 LU                                          2015-11-27  -2.99      1
'9285 26AUG15 , DELIVERANCE , LIMITED , LONDON GB                                                  2015-08-27  -23.00     1
'9285 25SEP15 , UDACITY, INC. , 8778877815 US , USD 200.00, VRATE 1.5157, FGN PUR FEE 3.63         2015-09-28  -135.58    1
'9285 24OCT15 , AMAZON SVCS , EUROPE,SAR , AMAZON.CO.UK LU                                         2015-10-26  -3.99      1
'9285 25SEP15 , TESCO STORES 6440 , LONDON EN8 GB                                                  2015-09-28  -53.33     1
'9285 25SEP15 , LE TOKYO , 207797 , REIMS FR , EUR 27.00, VRATE 1.3520, FGN PUR FEE 1.00           2015-09-28  -20.97     1
'9285 25OCT15 C , CO-OP GROUP PETROL, BOW ROAD GB                                                  2015-10-26  -12.13     1
'9285 25OCT15 , KATHMANDU , SPITALFIELDS , LONDON GB                                               2015-10-26  -32.99     1
'9285 25NOV15 , WAHACA GREAT , PORTLAND , LONDON GB                                                2015-11-27  -65.25     1
'9285 25NOV15 , UDACITY, INC. , 8778877815 US , USD 200.00, VRATE 1.5051, FGN PUR FEE 3.65         2015-11-26  -136.53    1
'9285 25AUG15 , UDACITY, INC. , 8778877815 US , USD 200.00, VRATE 1.5724, FGN PUR FEE 3.50         2015-08-26  -130.69    1
'9285 25AUG15 , MONSTER SUPPLEMENT, HULL GB                                                        2015-08-26  -63.32     1
'9285 24SEP15 , THREE-BILLPAY(IVR), WWW.THREE.CO. GB                                               2015-09-25  -10.00     1
'9285 24SEP15 , DISHOOM , LONDON GB                                                                2015-09-25  -25.00     1
'9285 24OCT15 C , TFL.GOV.UK/CP , TFL TRAVEL CH GB                                                 2015-10-26  -1.50      1
'9285 24OCT15 C , TESCO STORES 6363 , BETHNAL GREEN GB                                             2015-10-26  -1.50      1
'9285 24OCT15 C , CO-OP GROUP PETROL, BOW ROAD GB                                                  2015-10-26  -19.49     1
'9285 24OCT15 , AMAZON UK , MARKETPLACE , 800-279-6620 LU                                          2015-10-26  -19.58     1
'0707 21DEC15 , GOOGLE *NOODLECAKE, GOOGLE.COM/CH GB                                               2015-12-22  -1.79      1
dtype: int64